In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("helpful_words_for_social_w_names_top_5.csv")

In [3]:
data.head()

,perturbation,sentence,helpful_words
0,0-original-original,"A makes the varsity team while B does not, so ...","['so', 'skilled', 'than']"
1,0-original-asymmetric_premise,"B makes the varsity team while A does not, so ...","['skilled', '[MASK]', 'than']"
2,0-original-asymmetric_conclusion,"A makes the varsity team while B does not, so ...","['skilled', 'than']"
3,0-negation-original,"A makes the varsity team while B does not, so ...","['than', 't', 'so']"
4,0-negation-asymmetric_premise,"B makes the varsity team while A does not, so ...","['skilled', '[MASK]', 'than']"

In [42]:
not_perturbations = []
not_pertubation_recall = []

greater_than_words = {}
less_than_words = {}

than_perturbations = []
than_perturbation_recall = []
for i, row in data.iterrows():
    sent = row["sentence"]
    helpful_words = eval(row["helpful_words"])
    parts = sent.split(",")
    
    if "not" in parts[1]:
        not_perturbations.append(row["perturbation"])
        
        if "not" in helpful_words or "t" in helpful_words or "isn" in helpful_words or "''" in helpful_words:
            
            not_pertubation_recall.append(row["perturbation"])
        
    
    if "easier" in parts[1] or "more" in parts[1] or "better" in parts[1]:
        for word in helpful_words:
            if word in greater_than_words:
                greater_than_words[word] += 1
            else:
                greater_than_words[word] = 1
    else:
        for word in helpful_words:
            if word in less_than_words:
                less_than_words[word] += 1
            else:
                less_than_words[word] = 1
    
    if "than" in parts[1]:
        than_perturbations.append(row["perturbation"])
        
        if "than" in helpful_words:
            
            than_perturbation_recall.append(row["perturbation"])

In [43]:
len(not_perturbations), len(not_pertubation_recall)

(219, 50)

In [44]:
from operator import itemgetter

In [45]:
len(than_perturbations), len(than_perturbation_recall)

(384, 221)

In [27]:
sort_grt = sorted(greater_than_words.items(), key=itemgetter(1), reverse=True)

In [28]:
sort_less = sorted(less_than_words.items(), key=itemgetter(1), reverse=True)

In [29]:
len(sort_grt), len(sort_less)

(145, 145)

In [23]:
# Words in Greater Than Sentences that are different than Less Than
# No real difference

In [22]:
for word in greater_than_words:
    if word in less_than_words:
        if abs(greater_than_words[word] - less_than_words[word]) > 2:
            print((word, greater_than_words[word], less_than_words[word]))
    else:
        if greater_than_words[word] > 1:
            print((word, greater_than_words[word]))

('so', 29, 14)
('than', 106, 115)
('[MASK]', 105, 115)
('##ent', 1, 5)
('it', 7, 12)
('find', 12, 16)
('time', 14, 10)
('have', 2, 6)
('##ens', 3)
('##itive', 2)
('##ning', 2)
('financially', 6, 3)

In [30]:
output = {
    "rank" : [],
    "greater_than_word" : [],
    "greater_than_count" : [],
    "less_than_word" : [],
    "less_than_count" : []
}

In [32]:
for i in range(len(sort_grt)):
    output["rank"].append(i+1)
    output["greater_than_word"].append(sort_grt[i][0])
    output["greater_than_count"].append(sort_grt[i][1])
    output["less_than_word"].append(sort_less[i][0])
    output["less_than_count"].append(sort_less[i][1])

In [34]:
word_count_table = pd.DataFrame.from_dict(output)

In [47]:
# saving below table

In [35]:
word_count_table.to_csv("greater_than_vs_less_than_words.csv", index=False)

In [36]:
word_count_table.head()

   rank greater_than_word  greater_than_count less_than_word  less_than_count
0     1              than                 106         [MASK]              115
1     2            [MASK]                 105           than              115
2     3                so                  29            not               25
3     4               not                  26          finds               17
4     5             finds                  18           find               16

In [37]:
# Not Percentage - % of times not was seen as important

In [46]:
len(not_pertubation_recall) / len(not_perturbations)

0.228310502283105

In [53]:
results = pd.read_csv("../data/masked_word_result_data/albert/albert_material_perf_2_10.csv")

In [54]:
results

,truism_number,perturbation,premise,avg_binary_score,avg_ratio_score
0,0,original,original,1.0,0.369353
1,0,original,asymmetric_premise,0.5,-0.023440
2,0,original,asymmetric_conclusion,0.5,-0.015544
3,0,negation,original,0.0,-0.407543
4,0,negation,asymmetric_premise,1.0,0.346629
...,...,...,...,...,...
475,19,negation_paraphrase,asymmetric_premise,1.0,0.999500
476,19,negation_paraphrase,asymmetric_conclusion,1.0,0.999643
477,19,negation_paraphrase_inversion,original,0.0,-0.931187
478,19,negation_paraphrase_inversion,asymmetric_premise,1.0,0.868203
479,19,negation_paraphrase_inversion,asymmetric_conclusion,1.0,0.851430